<footer class="footer">
    <div class="container footer__container">
        <a href="#" class="footer__logo">
            <img src="img/footer-logo.svg" alt="Логотип магазин Shop Online">
        </a>
        <div class="nav-wrapper">
            <ul class="nav-list">
                <li class="nav-list__item menu-item menu-item_catalog">
                    <div class="menu-item__block" aria-label="Каталог" aria-hidden="false">
                        <p class="menu-item__title" >Каталог</p>
                        <button class="btn menu-item__btn-open">Развернуть список меню</button>
                    </div>
                    <ul class="submenu-list menu-item__list catalog-list">
                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Смартфоны
                            </a>
                        </li>
                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Ноутбуки
                            </a>
                        </li>
                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Ювелирные изделия
                            </a>
                        </li>
                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Одежда
                            </a>
                        </li>

                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Бытовая техника
                            </a>
                        </li>
                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Бытовая химия
                            </a>
                        </li>
                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Книги и журналы
                            </a>
                        </li>
                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Домашний текстиль
                            </a>
                        </li>
                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Электроника
                            </a>
                        </li>
                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Косметика
                            </a>
                        </li>
                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Смартфоны
                            </a>
                        </li>
                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Ноутбуки
                            </a>
                        </li>
                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Ювелирные изделия
                            </a>
                        </li>
                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Одежда
                            </a>
                        </li>

                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Бытовая техника
                            </a>
                        </li>
                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Бытовая химия
                            </a>
                        </li>
                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Книги и журналы
                            </a>
                        </li>
                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Домашний текстиль
                            </a>
                        </li>
                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Электроника
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="nav-list__item menu-item menu-item_bayer">
                    <div class="menu-item__block">
                        <p class="menu-item__title">Покупателям</p>
                        <button class="btn menu-item__btn-open">Развернуть список меню</button>
                    </div>
                    <ul class="submenu-list menu-item__list buyer-list">
                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Оплата заказа
                            </a>
                        </li>
                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Условия доставки
                            </a>
                        </li>
                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Условия возврата заказа
                            </a>
                        </li>
                        <li class="submenu-list__item">
                            <a href="" class="nav-list__link">
                                Блог
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="contacts-wrapper">
            <h2 class="contacts-wrapper__title">
                Контакты
            </h2>
            <a href="7987987987" class="contacts-wrapper__link phone-link">
                Тел: +7 937 839 23-61
            </a>
            <a href="mailto:OnlineShop@gmail.com" class="contacts-wrapper__link mail-link">
                Email: OnlineShop@gmail.com
            </a>
            <div class="social-links">
                <a href="https://wa.me/799999999" class="whatsapp-link social-link"
                   aria-label="Иконка социальной сети WhatsApp">
                    <svg class="whatsapp-link__icon social-link__icon icon" width="26" height="26">
                        <use href="../img/sprite.svg#whatsapp-icon"></use>
                    </svg>
                </a>
                <a href="https://inastargam.ory" class="instagram-link social-link"
                   aria-label="Иконка запрещенной сети Instagram">
                    <svg class="instagram-link__icon social-link__icon icon" width="26" height="26">
                        <use href="../img/sprite.svg#instagram-icon"></use>
                    </svg>
                </a>
                <a href="https://www.youtube.com/" class="yt-link social-link"
                   aria-label="Иконка Youtube">
                    <svg class="yt-link__icon social-link__icon icon" width="26" height="26">
                        <use href="../img/sprite.svg#yt-icon"></use>
                    </svg>

                </a>
                <a href="https://facebook.com" class="fb-link social-link"
                   aria-label="Иконка социальной сети Facebook">
                    <svg class="fb-link__icon social-link__icon icon" width="26" height="26">
                        <use href="../img/sprite.svg#fb-icon"></use>
                    </svg>
                </a>
                <a href="https://t.me/7999999999" class="telegram-link social-link"
                   aria-label="Иконка социальной сети Telegram">
                    <svg class="telegram-link__icon social-link__icon icon" width="26" height="26">
                        <use href="../img/sprite.svg#telegram-icon"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="rights-wrapper">
            <p class="registered">
                © OnlineShop, 2021
            </p>
            <div class="template-author">
                <p class="template-author__name">
                    Design by Anastasia Ilina
                </p>
                <a class="template-author__link" href="https://t.me/7999999999">
                    Tg: @Mrshmallowww
                </a>
            </div>
        </div>
    </div>
</footer>